---
	layout: entry
---

<script>
	import Prompt01 from '$lib/Prompt01.svelte';
	import SVGControls from '$lib/SVGControls.svelte';
	const svgId = "prompt-01-svg";
</script>

# Vertical or horizontal lines only

<Prompt01 {svgId} />

###

<SVGControls {svgId} />