---
	layout: entry
---

<script>
	import Prompt05 from '$lib/Prompt05.svelte';
	import SVGControls from '$lib/SVGControls.svelte';
	const svgId = "prompt-02-svg";
</script>

# Isometric Art (No vanishing points)

<Prompt05 {svgId} />

###

<SVGControls {svgId} />